html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container {
    position: relative;
    display: flex;
}

#sidebar {
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#image {
    overflow: hidden;
}

.center {
    display: block;
    margin: auto;
    width: 250px;
    height: 310px;
    border-radius: 20px;
}

#namespace {
    background-color: beige;
}

#name {
    font-size: 25px;
    line-height: 20px;
    font-weight: bolder;
    text-align: center;
}

#info {
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}

#names {
    font-size: 20px;
    font-weight: bold;
}

#work {
    font-weight: 600;
}

#right {
    text-align: right;
    font-weight: bolder;
}

a {
    color: inherit;
    text-decoration: none;
}

#counter {
    font-size: 14px;
    color: #545454;
    font-weight: bold;
    position: absolute;
    left: 50%;
    padding-bottom: 3em
}